<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         failOnWarning="false">
    <testsuites>
        <testsuite name="PHPPresentation Test Suite, Edited for Ethisphere">
            <directory>./tests/PhpPresentation</directory>
            <exclude>./tests/PhpPresentation/Tests/Writer/ODPresentation</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./build/coverage" />
        <log type="coverage-clover" target="./build/logs/clover.xml" />
    </logging>
</phpunit>
